* {
    margin: 0;
    padding: 0;
}

html, body {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
    height: 100%;
    font-family: sans-serif;
    font-size: 1.2em;
}

.wrapper {
    position: relative;
    min-height: 92.5%;
}

.content {
	padding-bottom: 10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    animation: fadeEffect 1s;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.error {
    color: #FF0000;
}

h1 {
    text-align: center;
    font-size: 1em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#routeType {
    font-size: 15px;
}

.successful {
    color: #4682B4;
}

.table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.75em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.button {
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0 auto;
    border-radius: 3px;
    background: #C0C0C0;
    transition: 0.2s;
}

.button:hover {
    background: rgb(53, 167, 110);
}

.button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.form-style{
    position: relative;
    border: groove;
    padding: 15px;
    font-size: 0.9em;
    background: #FFFAFA;
    margin: 0 auto;
    border-radius: 8px;
    font-family: sans-serif;
}

.form-style input {
    font-family: sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width:20%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: black;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.form-style input[type="submit"] {
    cursor: pointer;
    position: relative;
    padding: 15px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 15%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
}

.form-style input[type="submit"]:hover {
    background: #109177;
}