* {
    margin: 0;
    padding: 0;
}

html, body {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
    height: 100%;
    font-family: sans-serif;
    font-size: 1em;
}

.wrapper {
	position: relative;
	min-height: 92.5%;
}

.content {
	padding-bottom: 10px;
}

.route {
    font-size: 1.3em;
}

.form-style{
    border: groove;
    max-width: 1500px;
    padding: 15px;
    font-size: 1.3em;
    background: #FFFAFA;
    margin: auto;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style input[type="text"] {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width:20%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: auto;
}

.form-style input[type="date"],
.form-style input[type="time"]{
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width:15%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: auto;
}

.form-style input[type="submit"] {
    cursor: pointer;
	position: relative;
	padding: 15px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 15%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
}
.form-style input[type="submit"]:hover {
	background: #109177;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

#routeType {
    font-size: 15px;
}

.table {
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.error {
    color: #FF0000;
}

.link {
    background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(silver 50%, silver 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 2px;
    color: #34495e;
    padding-bottom: 3px;
    transition: .5s ease-in-out;
    line-height: 1;
}

.link:hover {
    background-size: 100% 2px, 100% 2px;
    color: #FE5568;
}

