* {
    margin: 0;
    padding: 0;
}

html, body {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
    height: 100%;
    font-family: sans-serif;
    font-size: 1em;
}

.wrapper {
	position: relative;
	min-height: 92.5%;
}

.content {
	padding-bottom: 10px;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.table {
    border-collapse: collapse;
    margin: auto;
    font-size: 1.4em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}