@import url(https://fonts.googleapis.com/css?family=Lora);

ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
}

.menu ul {
    overflow: hidden;
    padding: 0;
}

.menu li {
    float: left;
}
.auth li{
    float: right;
}

.menu a {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    color: black;
    font-size: 17px;
}

.menu a:hover {
    background: #ADC0CE
}

#account {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}