<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="menu.css" />
    <link rel="stylesheet" type="text/css" href="account.css" />
    <script type="text/javascript" src="account.js"></script>
</head>

<body>
<div class="menu" th:insert="blocks/menu :: menu_fragment" />

<div class="tab">
    <button class="tablinks" onclick="openData(event, 'userInformation')" id="defaultOpen">Personal information</button>
    <button class="tablinks" onclick="openData(event, 'changeUsername')" id="openChangeUsername">Change Username</button>
    <button class="tablinks" onclick="openData(event, 'changePassword')" id="openChangePassword">Change Password</button>
</div>

<div id="userInformation" class="tabcontent">
    <div th:if="${changedAccountData.newUsername == null and changedAccountData.newPassword == null}">
        <script>
            document.getElementById("defaultOpen").click();
        </script>
    </div>
    <h3>Personal Information</h3>
    <form th:action="@{/account}" method="post" th:object="${userInformation}">
        <input type="hidden" name="hiddenAction" value="changeInformation" />
        <input type="hidden" th:field="*{username}" />
        <p><label for="firstName">First name:</label>
            <input type="text" id="firstName" th:field="*{firstName}"/></p>
        <p><label for="surname">Surname:</label>
            <input type="text" id="surname" th:field="*{surname}"/></p>
        <p><label for="phoneNumber">Phone number:</label>
            <input type="tel" id="phoneNumber" autofocus="autofocus" required="required"
                   pattern="\+375\s?[\(]{0,1}[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
                   placeholder="+375(__)___-__-__" th:field="*{phoneNumber}"/></p>
        <p><input type="submit" value="Save changes"/>
        <span th:if="${successfulSave != null}" class="successful" th:text="${successfulSave}"/></p>
    </form>
</div>

<div id="changeUsername" class="tabcontent">
    <div th:if="${changedAccountData.newUsername != null}">
        <script>
            document.getElementById("openChangeUsername").click();
        </script>
    </div>
    <form th:action="@{/account}" method="post" th:object="${changedAccountData}">
        <input type="hidden" name="hiddenAction" value="changeUsername" />
        <input type="hidden" th:field="*{username}" />
        <p><label for="newUsername">Please enter your new username:</label>
            <input type="text" id="newUsername" th:field="*{newUsername}"/>
            <span th:if="${#fields.hasErrors('username')}" class="error" th:errors="*{username}" /></p></p>
        <p><input type="submit" value="Change username"/></p>
        <p><small>*After changing your username, you will be redirected to the login page</small></p>
    </form>
</div>

<div id="changePassword" class="tabcontent">
    <div th:if="${changedAccountData.newPassword != null}">
        <script>
            document.getElementById("openChangePassword").click();
        </script>
    </div>
    <form th:action="@{/account}" method="post" th:object="${changedAccountData}">
        <input type="hidden" th:name="hiddenAction" th:value="changePassword" />
        <input type="hidden" th:field="*{username}" />
        <p><label for="password">Please enter your old password:</label>
            <input type="text" id="password" th:field="*{password}"/>
            <span th:if="${#fields.hasErrors('password')}" class="error" th:errors="*{password}" /></p>
        <p><label for="newPassword">Enter a new password:</label>
            <input type="text" id="newPassword" th:field="*{newPassword}"/>
            <span th:if="${#fields.hasErrors('newPassword')}" class="error" th:errors="*{newPassword}" /></p>
        <p><label for="confirmNewPassword">Confirm a new password:</label>
            <input type="text" id="confirmNewPassword" th:field="*{confirmNewPassword}"/></p>
        <p><input type="submit" value="Change password"/></p>
        <p><small>*After changing your password, you will be redirected to the login page</small></p>
    </form>
</div>

</body>

</html>


<!--
<p><label for="username">Username:</label>
    <input type="text" id="username" th:field="*{user.username}"/></p>
<p><label for="password">Password::</label>
    <input type="password" id="password" th:field="*{user.password}"/></p>-->

