<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
    <script type="text/javascript" src="js/admin.js"></script>
</head>

<body>
<div class="menu" th:insert="blocks/menu :: menu_fragment"/>
<div class="wrapper">
    <div class="content">
        <div class="tab">
            <button class="tablinks" onclick="openData(event, 'userDetails')" id="openDefault">User Details</button>
            <button class="tablinks" onclick="openData(event, 'departuresManagement')" id="openDepartures">Departures
                Management
            </button>
        </div>

        <div id="userDetails" class="tabcontent">
            <div th:if="${openDefault}">
                <script>
                    document.getElementById("openDefault").click();
                </script>
            </div>
            <br>
            <h1>User Details:</h1>
            <br>
            <table th:if="${not #lists.isEmpty(users)}" class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Not locked</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Phone Number</th>
                    <th>Orders</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, state : ${users}">
                    <td th:text="${state.count}"/>
                    <td th:text="${user.username}"/>
                    <td>
                        <span th:text="${user.role.name}"/>
                        <form th:action="@{/admin}" method="post">
                            <input type="hidden" name="hiddenAction" value="changeUserRole"/>
                            <input type="hidden" th:name="username" th:value="${user.username}"/>
                            <select class="select" th:name="newRole">
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}"/>
                                <input class="button" type="submit" value="Change role"/>
                            </select>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin}" method="post">
                            <input type="hidden" name="hiddenAction" value="changeAccountStatus"/>
                            <input type="hidden" th:name="username" th:value="${user.username}"/>
                            <span th:if="${user.accountNonLocked}">
                            &#9989; <input class="button" type="submit" value="Lock &#10060;"/>
                        </span>
                            <span th:if="${!user.accountNonLocked}">
                            &#10060; <input class="button" type="submit" value="Unlock &#9989;"/>
                        </span>
                        </form>
                    </td>
                    <td th:text="${user.firstName != null} ? ${user.firstName} : '&mdash;'"/>
                    <td th:text="${user.surname != null} ? ${user.surname} : '&mdash;'"/>
                    <td th:text="${user.phoneNumber != null} ? ${user.phoneNumber} : '&mdash;'"/>
                    <td>
                        <a class="link" th:href="@{/admin/userOrders(username=${user.username})}" target="_blank">
                            View user's orders</a>
                    </td>
                    <td>
                        <form th:action="@{/admin}" method="post">
                            <input type="hidden" name="hiddenAction" value="deleteUser"/>
                            <input type="hidden" th:name="userId" th:value="${user.id}"/>
                            <input class="button" type="submit" value="Delete User"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>

        <div id="departuresManagement" class="tabcontent">
            <div th:if="${openDepartures}">
                <script>
                    document.getElementById("openDepartures").click();
                </script>
            </div>
            <br>
            <h1>Departures Management:</h1>
            <br>
            <form class="form-style" th:action="@{/admin}" method="post" th:object="${newDeparture}">
                <p>Create new departure:</p>
                <input type="hidden" name="hiddenAction" value="createNewDeparture"/>
                <span>Train:
            <select class="select" th:field="*{train.id}">
                <option th:each="train : ${trains}"
                        th:value="${train.id}"
                        th:text="|${train.number} (${train.type})|"/>
            </select>
        </span>
                <span>Route:
            <select class="select" th:field="*{route.id}">
                <option th:each="route : ${routes}"
                        th:value="${route.id}"
                        th:text="|${route.routeStations[0].station.title} &mdash;
                ${route.routeStations[route.routeStations.size()-1].station.title} (${route.type}, ${route.routeStations.size()} stops)|"/>
            </select>
        </span>
                <span><label for="date">When:</label>
            <input type="datetime-local" id="date" th:field="*{departureDate}"/></span>
                <input type="submit" value="Create"/>
                <div th:if="${#fields.hasAnyErrors()}">
                    <p th:each="err : ${#fields.allErrors()}" class="error" th:text="${err}"/>
                </div>
            </form>
            <br>
            <table th:if="${not #lists.isEmpty(departures)}" class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Train</th>
                    <th>Route</th>
                    <th>Departure date</th>
                    <th>Arrival date</th>
                    <th>Purchased tickets</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="departure, state : ${departures}">
                    <td th:text="${state.count}"/>
                    <td th:text="${departure.train.number}"/>
                    <td>
                <span th:text="|${departure.route.routeStations[0].station.title} &mdash;
                ${departure.route.routeStations[departure.route.routeStations.size()-1].station.title}|"/>
                        <a class="link" th:href="@{/departures/route(departureId=${departure.id})} " target="_blank">View schedule</a>
                        <br>
                        <span id="routeType" th:text="${departure.route.type}"/>
                    </td>
                    <td th:text="${#temporals.format(departure.departureDate, 'dd MMM HH:mm')}"/>
                    <td th:text="${#temporals.format(departure.route.routeStations[departure.route.routeStations.size()-1].arrivalDate, 'dd MMM HH:mm')}"/>
                    <td>
                        <span th:text="${departure.purchasedTickets}"/><br>
                        <a class="link" th:href="@{/admin/departureDetails(departureId=${departure.id})}" target="_blank">View details</a>
                    </td>
                    <td>
                        <form th:action="@{/admin}" method="post">
                            <input type="hidden" name="hiddenAction" value="cancelDeparture"/>
                            <input type="hidden" th:name="departureId" th:value="${departure.id}"/>
                            <input class="button" type="submit" value="Cancel Departure"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
    <div class="footer" th:insert="blocks/footer :: footer"/>
</div>
</body>

</html>