<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    .route {
        font-size: 1.3em;
    }
    </style>
</head>

<body>
<th:block th:include="blocks/menu" />
<form th:action="@{/departures}" method="post" th:object="${route}">
    <span> From: <input type="text" th:field="*{departureStation.title}" /></span>
    <span> To: <input type="text" th:field="*{arrivalStation.title}" /></span>
    <input type="submit" value="Search"/></span>
    <br><br>
</form>
<div th:if="${route.departureStation.title != null and route.arrivalStation.title != null}">
    <h1 th:text="${route.departureStation.title} + '&mdash;' + ${route.arrivalStation.title}" />
</div>
<table th:if="${departures} != null" border="5">
    <tr>
        <th>Train</th>
        <th>Route</th>
        <th>Price</th>
    </tr>
    <tr th:each="departure : ${departures}">
        <td>
            <span th:utext="${departure.train.number}" />
            <span th:switch="${departure.route.type}">
                <span th:case="'regional'">Региональные линии</span>
                <span th:case="'interregional'">Межрегиональные линии</span>
                <span th:case="'international'">Международные линии</span>
            </span>
             <span th:utext="${departure.stationSchedules[0].station.title}" />
            <span> &mdash; </span>
            <span th:utext="${departure.stationSchedules[departure.stationSchedules.size()-1].station.title}" />
        </span>
        </td>
        <td>
            <div class="route">
                <span th:each="stationSchedule : ${departure.stationSchedules}">
                    <span th:if="${stationSchedule.station.title} eq ${route.departureStation.title}">
                        <span th:utext="${#temporals.format(stationSchedule.departureDate, 'dd MMM HH:mm , ')}" />
                    </span>
                </span>
                <span th:text="${route.departureStation.title} + ' ———————> ' + ${route.arrivalStation.title}"></span>
                <span th:each="stationSchedule : ${departure.stationSchedules}">
                    <span th:if="${stationSchedule.station.title} eq ${route.arrivalStation.title}">
                        <span th:utext="${#temporals.format(stationSchedule.arrivalDate, ', dd MMM HH:mm')}" />
                    </span>
                </span>
            </div>
        </td>
        <td>
            <span th:utext="${'100 $'}"></span>
            <a th:href="@{/order(departure=${departure.id})}">Make an order</a>
        </td>
    </tr>
</table>
</body>

</html>
