<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Departures</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="departures.css" />
    <link rel="stylesheet" type="text/css" href="menu.css" />
</head>

<body>
<div class="menu" th:insert="blocks/menu :: menu_fragment" />
<form th:action="@{/departures}" method="post" th:object="${userRoute}">
    <span><label for="from">From:</label>
        <input type="text" id="from" placeholder="Station" th:field="*{departureStation.title}" /></span>
    <span><label for="to">To:</label>
        <input type="text" id="to" placeholder="Station" th:field="*{arrivalStation.title}" /></span>
    <input type="submit" value="Search"/>
    <br><br>
</form>
<table th:if="${session.tickets} != null" border="5">
    <h1 th:text="|Route: ${session.tickets[0].departureStation.title} &mdash; ${session.tickets[0].arrivalStation.title}|" />
    <tr>
        <th>Train</th>
        <th>Route</th>
        <th>Price</th>
    </tr>
    <tr th:each="ticket, state : ${session.tickets}">
        <td align="center">
            <span th:text="${ticket.departure.train.number}" />
            <span th:text="|${ticket.departure.stationSchedules[0].station.title} &mdash;
                ${ticket.departure.stationSchedules[ticket.departure.stationSchedules.size()-1].station.title}|" />
            <br>
            <span th:text="${ticket.departure.route.type}" />
        </td>
        <td align="center">
            <div class="route">
                <span th:text="${#temporals.format(ticket.userDepartureDate, 'dd MMM HH:mm , ')}" />
                <span th:text="|${ticket.departureStation.title} ———————> ${ticket.arrivalStation.title}|" />
                <span th:text="${#temporals.format(ticket.userArrivalDate, ', dd MMM HH:mm')}" />
            </div>
            <a th:href="@{/departures/route(ticketIndex=${state.index})} " target="_blank">See the whole route</a>
        </td>
        <td align="center">
            <span th:text="|${ticket.routePrice / 100},${ticket.routePrice % 100} BYN|" />
            <br>
            <a th:href="@{/order(ticketIndex=${state.index})}">Make an order</a>
        </td>
    </tr>
</table>
</body>

</html>

