<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Route Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="departures.css" />
    <link rel="stylesheet" type="text/css" href="menu.css" />
    <style>
        .route {font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
                font-size: 15pt}
    </style>
</head>

<body>
<div class="menu" th:insert="blocks/menu :: menu_fragment" />
<div class="route">
    <span th:utext="|Route: ${departure.stationSchedules[0].station.title} &mdash;
        ${departure.stationSchedules[departure.stationSchedules.size()-1].station.title}|"/>
    <table border="5">
        <tr>
            <th>Station</th>
            <th>Arrival time</th>
            <th>Departure time</th>
        </tr>
        <tr th:each="stationSchedule : ${departure.stationSchedules}">
            <td th:text="${stationSchedule.station.title}" />
            <td align="center" th:utext="${stationSchedule.arrivalDate != null} ?
                            ${#temporals.format(stationSchedule.arrivalDate, 'dd MMM HH:mm')} : '&mdash;'" />
            <td align="center" th:utext="${stationSchedule.departureDate != null} ?
                            ${#temporals.format(stationSchedule.departureDate, 'dd MMM HH:mm')} : '&mdash;'" />
        </tr>
    </table>
    <br>
</div>
</body>

</html>