<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menu.css}" />
</head>

<body>
    <div class="menu" th:insert="blocks/menu :: menu_fragment" />
    <p>Sorry, the app encountered an error. Please try again<p>

    <p th:if="${timestamp}" id='created'>
        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p>

    <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span>
        <span th:if="${error}" th:text="'('+${error}+')'">error</span>
    </p>

    <p th:if="${message}">
        <b>Details:</b> <span th:text="${message}">error-details</span>
    </p>
</body>

</html>