<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<th:block th:include="blocks/menu" />
<form th:action="@{/login}" method="post">
    <div> Username: <input type="text" name="username"/> </div>
    <div> Password: <input type="password" name="password"/> </div>
    <span><input type="submit" value="Sign In"/></span>
    <span th:if="${param.error}" th:text="' Invalid username or password.'" />
</form>
</body>

</html>