<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div sec:authorize="!isAuthenticated()" th:text="'Welcome, user'"/>
    <div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"/></div>
    <th:block th:include="blocks/menu" />
    <form th:action="@{/departures}" method="post" th:object="${userRoute}">
        <span><label for="from">From:</label>
            <input type="text" id="from" placeholder="Station" th:field="*{departureStation.title}" /></span>
        <span><label for="to">To:</label>
            <input type="text" id="to" placeholder="Station" th:field="*{arrivalStation.title}" /></span>
        <input type="submit" value="Search"/>
        <br><br>
    </form>
    <!--<div sec:authorize="hasRole('ROLE_ADMIN')">
        Только администратор может видеть <br/>
    </div>
    <br/>
    <div sec:authorize="hasRole('ROLE_USER')">
        Пользователи могут видеть
    </div>
    <br/>-->
</body>

</html>