<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div sec:authorize="!isAuthenticated()">
        Welcome, user
    </div>
    <div sec:authorize="isAuthenticated()">
        Welcome, <span sec:authentication="name"/>
    </div>
    <th:block th:include="blocks/menu" />
    Departures:
    <form th:action="@{/departures}" method="post" th:object="${route}">
        <span> From: <input type="text" th:field="*{departureStation.title}" /></span>
        <span> To: <input type="text" th:field="*{arrivalStation.title}" /></span>
        <input type="submit" value="Search"/></span>
        <br><br>
    </form>
    <!--<div sec:authorize="hasRole('ROLE_ADMIN')">
        Только администратор может видеть <br/>
    </div>
    <br/>
    <div sec:authorize="hasRole('ROLE_USER')">
        Пользователи могут видеть
    </div>
    <br/>-->
</body>

</html>