<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online scoreboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<th:block th:include="blocks/menu" />
<form th:action="@{/onlineScoreboard}" method="post" th:object="${userStation}">
    <p><label for="station">Please enter the station:</label>
        <input type="text" id="station" th:field="*{title}" />
        <input type="submit" value="Search"/></p>
</form>
<table th:if="${departures} != null" border="5">
    <h1 th:text="|Departures by station: ${userStation.title}|" />
    <tr>
        <th>Train</th>
        <th>Station arrival time</th>
        <th>Station departure time</th>
    </tr>
    <tr th:each="departure : ${departures}">
        <td align="center">
            <span th:text="${departure.train.number}" />
            <span th:text="|${departure.stationSchedules[0].station.title} &mdash;
                ${departure.stationSchedules[departure.stationSchedules.size()-1].station.title}|" />
            <br>
            <span th:switch="${departure.route.type}">
                <span th:case="'regional'">Региональные линии</span>
                <span th:case="'interregional'">Межрегиональные линии</span>
                <span th:case="'interregional_long'">Межрегиональные линии дальнего следования</span>
                <span th:case="'international'">Международные линии</span>
            </span>
        </td>
        <td align="center">
            <span th:each="stationSchedule : ${departure.stationSchedules}">
                <span th:if="${stationSchedule.station.title} eq ${userStation.title}"
                    th:text="${stationSchedule.arrivalDate != null} ?
                    ${#temporals.format(stationSchedule.arrivalDate, 'dd MMM HH:mm')} : '&mdash;'" />
            </span>
        </td>
        <td align="center">
            <span th:each="stationSchedule : ${departure.stationSchedules}">
                <span th:if="${stationSchedule.station.title} eq ${userStation.title}"
                    th:text="${stationSchedule.departureDate != null} ?
                    ${#temporals.format(stationSchedule.departureDate, 'dd MMM HH:mm')} : '&mdash;'" />
            </span>
        </td>
    </tr>
</table>
</body>

</html>