<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<th:block th:include="blocks/menu" />
<form th:action="@{/registration}" method="post" th:object="${user}">
    <p><label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}"/></p>
    <p><label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}"/></p>
    <p><input type="submit" value="Registration"/></p>
    <span th:if="${isUserExists}" th:text="'User with this username already exists'" />
</form>
</body>

</html>