<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Successful Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="order.css" />
    <link rel="stylesheet" type="text/css" href="menu.css" />
</head>

<body>
<div class="menu" th:insert="blocks/menu :: menu_fragment" />
<div th:if="${ticket != null}" class="order">
    <h3>Payment was successful!</h3>
    <h3>Your ticket: </h3>
    <p>Train:
    <span th:text="${ticket.departure.train.number}" />
    <span th:text="|${ticket.departure.route.routeStations[0].station.title} &mdash;
                ${ticket.departure.route.routeStations[ticket.departure.route.routeStations.size()-1].station.title}|" /></p>
    <p>Departure Station:
    <span th:text="${ticket.departureStation.title}" /></p>
    <p>Departure Date:
    <span th:text="${#temporals.format(ticket.departureDate, 'dd MMM HH:mm')}" /></p>
    <p>Arrival Station:
    <span th:text="${ticket.arrivalStation.title}" /></p>
    <p>Arrival Date:
    <span th:text="${#temporals.format(ticket.arrivalDate, 'dd MMM HH:mm')}" /></p>
    <p>Carriage Comfort Level:
    <span th:text="${ticket.carriageComfortLevel != null} ? ${ticket.carriageComfortLevel} : '&mdash;'" /></p>
    <p>Carriage Number:
    <span th:text="${ticket.carriageNumber != null} ? ${ticket.carriageNumber} : '&mdash;'" /></p>
    <p>Seat Number:
    <span th:text="${ticket.seatNumber != null} ? ${ticket.seatNumber} : '&mdash;'" /></p>
    <p>Ticket Price:
    <span th:text="|${ticket.finalPrice} BYN|" /></p>
</div>

</body>

</html>