<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<nav th:fragment="menu_fragment">
    <ul>
        <li><a th:href="@{/}">Main page</a></li>
        <li><a th:href="@{/onlineScoreboard}">Online Scoreboard</a></li>
        <li><a th:href="@{/departures}">Departures</a></li>
        <span class="auth" sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/login}">Sign in</a></li>
            <li><a th:href="@{/registration}">Registration</a></li>
        </span>
        <span class="auth" sec:authorize="isAuthenticated()">
            <li><a th:href="@{/logout}">Logout</a></lI>
            <li><a id="account" th:href="@{/account}" sec:authentication="name"></a></lI>
        </span>
    </ul>
</nav>

</body>

</html>
